<ion-header>
    <ion-toolbar  class="toolBar">
        <ion-buttons slot="start">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <!-- <ion-button class="btnHome" [routerLink]="'/settings'">
              <i class="fas fa-arrow-left"></i> &nbsp;
            </ion-button> -->
        </ion-buttons>
      <ion-title>About</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="logo">
        <img src="./assets/img/info.gif" alt=""  width="50%">
        <h4>FluentMWM_CEP_AMS 1.0.6</h4>
      <p>FluentMWM makes your work easier.</p>
      <p>This App is connected with Fluent CEP solution.</p>
    </div>
      
   
    <ion-button color="#006495" class="comp"  href="https://fluentsoft.com/aboutus.html" expand="full">LEARN MORE</ion-button>
  </ion-content>