ion-title{
    color:white !important;

  }

  .gen{
      color:black;
      background: #ddd;
  }

  .tabHead{
      background: #006495;
      color:white;
  }
  
  ion-datetime{
      font-size: small !important;
  }
  ion-button{
    font-size: small !important;   
  }