.gen{
    color:white;
    background: #006495;
    text-align: center;
    margin: 7% 10%;
    margin-top:20%;
}
.rejc{
    color:white;
    background: #006495;
    text-align: center;
    margin-top:20%;

}
.menuBtn{
    position: absolute;
    bottom: 23%;
    right: 0px;
    background: none;
    font-size: 29px;
  }

  .btnHome{
    color:white;
}
ion-spinner{
    margin: 20% 45%;
}