.req{
    color: white;
}

.gen{
    color:black;
    background: #ddd;
    text-align: center;
    margin: 20% 30%;
}
.gene{
    color:black;
    background: #ddd;
    font-size: small !important;   
}
.top{
    padding: 4% 1%;
}
.btnHome{
    color:white;
}
ion-datetime{
    font-size: small !important;
}
ion-button {
  font-size: small !important;   
}