.taskName{
    font-weight: 600;
    text-transform: capitalize;
    font-size: 0.9rem;
    margin: 5px 0px;
}
.des{
    color: #848d95;
    margin: 5px 0px;
}
ion-col{
    color:white;
    margin:0px 2px;
}

ion-spinner{
    margin: 20% 45%;
}